@CHARSET "UTF-8";

.key_tag{text-decoration:underline;}

/*ÃƒÂ¥Ã‚Â¯Ã‚Â¼ÃƒÂ¨Ã‹â€ Ã‚ÂªÃƒÂ¦Ã‚Â Ã‚ÂÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â*/
/*.nav{height:96px;}*/
.nav li{
    /*line-height:96px;height:96px;*/
    text-align:center;width: 135px;float:left;position:relative;z-index:999;}
.nav li a{display:block;color: #333333;line-height:44px;font-size: 18px;font-weight: 600;}
.nav li a:hover{color:#86be3f;text-decoration:none;border-bottom: 2px solid #86be3f;width: 97px;margin: 0 auto;}

.nav .sec{height:0;background:#081335;color:#fff;overflow:hidden;z-index:9999;position:absolute;top:56px;
    width:120%;
left:-10%;font-size:  16px;font-weight:  normal;}
.nav .sec a{background:#081335;color:#fff;height:38px;line-height:38px;width:100%;font-weight:400;
    font-size:14px;
    
}
.nav .sec a:hover{background:#2966a7;text-decoration:none;border:none;width:100%;}

/*ÃƒÂ©Ã‚Â¦Ã¢â‚¬â€œÃƒÂ©Ã‚Â¡Ã‚Âµbanner*/
.topbanner{position:relative;}
.banner{width:100%;height:100%;}
.banner ul.bb{position:relative;padding:0px;margin:0px;z-index:5;width:100%;height:100%;}
.banner ul.bb li{position:absolute;display:none;width:100%;height:100%;}
.banner ul.bb li a{width:100%;display:block;height:100%;}
.banner ul.bb li a img{width:100%;height:100%;}
.banner .num{position:absolute;right:2px;bottom:10px;width:100%;z-index:100;padding:5px 0px;opacity:0.8;text-align:center;}
.banner .num li{width:10px;height:10px;display:inline-block;margin-right:8px;background:#fff;_display:inline;_font-size:0px;}
.banner .num li{*display:inline;_zoom:1;_display:inline;}
.banner .num li.num_hover{background-color:#ee6231;}
.banner .num li.num_hover a{color:#fff;}
.banner .num li a{float:left;display:inline;text-align:center;color:#666;text-decoration:none;cursor:pointer;width:10px;height:10px;text-indent:-100px;overflow:hidden;opacity:1;}

/*ÃƒÂ¥Ã‚Â¹Ã‚Â»ÃƒÂ§Ã‚ÂÃ‚Â¯ÃƒÂ§Ã¢â‚¬Â°Ã¢â‚¬Â¡ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â2*/
#focus {width:255px; height:188px; overflow:hidden; position:relative;}
#focus ul {height:188px; position:absolute;}
#focus ul li {float:left; width:255px; height:188px; overflow:hidden; position:relative; background:#000;}
#focus ul li a img{height:188px;width:255px;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:255px; height:20px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:255px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}

/*ÃƒÂ¦Ã‚ÂÃ…â€œÃƒÂ§Ã‚Â´Ã‚Â¢ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ÃƒÂ§Ã†â€™Ã‚Â­ÃƒÂ©Ã¢â‚¬â€Ã‚Â¨ÃƒÂ¦Ã‚ÂÃ…â€œÃƒÂ§Ã‚Â´Ã‚Â¢*/
.hotSearch a{margin-right:6px;}
#formsearch input{height:22px;background:#fff;border:1px solid #c8c8c8;line-height:22px;}
#formsearch input#keyword{height:22px;line-height:22px;padding-left:4px;color:#666;}
#formsearch input#s_btn{width:46px;height:24px;line-height:24px;text-align:center;background-color:#0a0e18;color:#fff;border:none;cursor:pointer;}

/*ÃƒÂ¤Ã‚ÂºÃ‚Â§ÃƒÂ¥Ã¢â‚¬Å“Ã‚ÂÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ§Ã‚Â±Ã‚Â»*/
.cate{border:1px solid #e0e1dc;padding:10px;background-color:#f7f7f7;}
.cate li{line-height:28px;border-bottom:1px dashed #d7d7d7;line-height:28px;}
.cate li a{padding-left:60px;display:block;height:28px;line-height:28px;background:url(../images/ico1.gif) 34px center no-repeat;}
.cate li a:hover{background-color:#ececec;text-decoration:none;}

/*ÃƒÂ¨Ã‚Â¯Ã‚Â¦ÃƒÂ§Ã‚Â»Ã¢â‚¬Â ÃƒÂ¤Ã‚Â»Ã¢â‚¬Â¹ÃƒÂ§Ã‚Â»Ã‚ÂÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ©Ã‚Â¡Ã‚ÂµÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â*/
.total {border-bottom:1px dashed #e0e1dc;padding-bottom:10px;}
.paging_num{padding:10px 0px;overflow: hidden;text-align: right;}
.paging_num a{width:25px;height:20px;line-height: 20px;text-align: center;display:inline-block;
	border: 1px dashed #e0e1dc;color:#666;margin-left:15px;}
.paging_num a:hover{text-decoration:none;color:#005a98;border: 1px dashed #005a98;}
.paging_num .paging_hover{text-decoration:none;color:#005a98;border: 1px dashed #005a98;}

/*ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â°ÃƒÂ©Ã¢â‚¬â€Ã‚Â»ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/
.news_list{}
.news_list li{line-height:27px;position:relative;padding-left:10px;}
.news_list li a{line-height:27px;color:#666;}
.news_list li a:hover{text-decoration:none;color:#e87518;}
.news_list li span{color:#999;z-index:0;line-height:27px;position:absolute;right:0px;top:0px;}
.news_list li h3 {font-size:14px;}
.news_list li div{line-height:24px;}

/*ÃƒÂ§Ã†â€™Ã‚Â­ÃƒÂ©Ã¢â‚¬â€Ã‚Â¨ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â³ÃƒÂ©Ã¢â‚¬ÂÃ‚Â®ÃƒÂ¨Ã‚Â¯Ã‚Â*/
.words{overflow:hidden;margin-right:-1.3%;padding-top:5px;}
.words li{width:46%; float:left;border:1px dashed #d0d0d0;background:#fcfcfc;padding-left:0px;margin-bottom:10px;text-align:center;}
.new1 li{border-bottom:1px solid #dddddd;background:url(../images/list_dot1.gif) no-repeat 0% 50%;padding-left:13px;}
.right_word{margin-left: 5%;}

/*ÃƒÂ¦Ã‚Â¡Ã‹â€ ÃƒÂ¤Ã‚Â¾Ã¢â‚¬Â¹ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/
.case_list{}
.case_list li{float:left;margin-left:15px;margin-right:-4px;padding-bottom:15px;_display:inline;}
.case_list li a.img{padding:1px;border:1px solid #e0e1dc;}
.case_list li a.img img{width:170px;height:127px;}
.case_list li h3{text-align:center;padding-top:5px;}
.case_list li h3 a{font-weight:normal;}
.case_list li a.img{display:block;}
.case_list li a.img:hover{border-color:#e87518;}

/*TagÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/
.tag_list_product {margin-top:10px;}
.tag_list_product li{float:left;margin-left:15px;margin-right:15px;padding-bottom:15px;_display:inline;}
.tag_list_product li a.img{padding:1px;border:1px solid #e0e1dc;}
.tag_list_product li a.img img{width:150px;height:150px;}
.tag_list_product li h3{text-align:center;padding-top:5px;}
.tag_list_product li h3 a{font-weight:normal;}
.tag_list_product li a.img{display:block;}
.tag_list_product li a.img:hover{border-color:#e87518;}

.tag_list_news{}
.tag_list_news li{line-height:27px;position:relative;padding-left:10px;}
.tag_list_news li a{line-height:27px;}
.tag_list_news li span{color:#999;z-index:0;line-height:27px;}
.tag_list_news li h3 {font-size:14px;}
.tag_list_news li div{line-height:24px;}

.tag_total{height:36px;line-height:36px;text-align:left;padding-left:20px;background-color:#edf1f5;border:1px solid #b6c7db;}

/*ÃƒÂ¤Ã‚ÂºÃ‚Â§ÃƒÂ¥Ã¢â‚¬Å“Ã‚ÂÃƒÂ©Ã¢â‚¬Â¡Ã…â€™ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/

/*ÃƒÂ¦Ã‚Â»Ã…Â¡ÃƒÂ¥Ã…Â Ã‚Â¨*/
#demo{overflow:hidden;width:100%;margin:0 auto;}
#indemo {float: left;width:800%}
#demo1 {float: left;}
#demo2 {float: left;}

#m_demo{overflow:hidden;width:100%;margin:0 auto;}
#m_indemo {float: left;width:800%}
#m_demo1 {float: left;}
#m_demo2 {float: left;}


.product_list{}
.product_list li{float:left;margin-right:21px;padding-bottom:15px;_display:inline;}
.product_list li a.img{padding:1px;border:1px solid #e0e1dc;}
.product_list li a.img img{width:170px;height:127px;}
.product_list li h3{text-align:center;padding-top:5px;}
.product_list li h3 a{font-weight:normal;}
.product_list li a.img{display:block;}
.product_list li a.img:hover{border-color:#e87518;}
.roll_product{float:left;}
.product_list li:nth-child(4n){margin-right:0;}

.sort_a{overflow:hidden;} 
.sort_a .layer1{padding:15px 0px;border-bottom:1px dashed #a7b8d4;position:relative;height:133px;z-index: 1;}
.sort_a .layer1 .img{float:left;padding:5px;border:1px solid #dddddd;}
.sort_a .layer1 .img img{width:150px;height:150px;}
.sort_a .layer1 .img_right{width:560px;float:right;}
.sort_a .layer1 .img_right h3{font: bold 14px/36px "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ";}
.sort_a .layer1 .img_right span{line-height:25px;display:block;}
.sort_a .layer1 .pro_more{position:absolute;right:0px;bottom:15px;width:110px;padding-left:10px;height:28px;line-height:28px;background:#666666;color:#fff;
font:bold 24px/24px "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ";}
.sort_a .layer1 .pro_more span{float:left;}
.sort_a .layer1 .pro_more a{font:normal 12px/28px "ÃƒÂ¥Ã‚Â®Ã¢â‚¬Â¹ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“";color:#fff;float:right;padding-right:15px;display: inline-block;}
.sort_a .layer1 .pro_more a:hover{text-decoration:none;color:#faf104;}
.sort_a .abb_product{padding-top:15px;border:1px dashed #a7b8d4;border-top:none;}


.productcates{padding-top:10px;}
.catemore{color:#0080d9;margin-top:6px;overflow:hidden;position:relative;}
.catemore h2{width:360px;float:left;font:bold 15px/36px "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ";}
.catemore a{float:right;font:normal 14px/36px "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ";color:#444444;padding-right:28px;}
.catemore a:hover{text-decoration:none;color:#0080d9;}

/*ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¨Ã‚Â½Ã‚Â½ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/
.down_list{}
.down_list li{line-height:27px;height:27px;position:relative;background:url(../images/list_dot1.gif) 0 50% no-repeat;padding-left:10px;}
.down_list li a{}

/*ÃƒÂ¦Ã¢â‚¬Â¹Ã¢â‚¬ÂºÃƒÂ¨Ã‚ÂÃ‹Å“ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/
.job_list{}
.job_list li{line-height:27px;height:27px;position:relative;background:url(../images/list_dot1.gif) 0 50% no-repeat;padding-left:10px;}
.job_list li a{}
.job_list li span{position:absolute;color:#999;right:0;z-index:0;}

/*ÃƒÂ¦Ã¢â‚¬Â¹Ã¢â‚¬ÂºÃƒÂ¨Ã‚ÂÃ‹Å“ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/
.download_list{}
.download_list li{line-height:27px;height:27px;position:relative;background:url(../images/list_dot1.gif) 0 50% no-repeat;padding-left:10px;}
.download_list li a{}
.download_list li span{position:absolute;color:#999;right:0;z-index:0;}


/*ÃƒÂ¨Ã‚Â¯Ã‚Â¦ÃƒÂ§Ã‚Â»Ã¢â‚¬Â ÃƒÂ©Ã‚Â¡Ã‚ÂµÃƒÂ©Ã‚ÂÃ‚Â¢ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â¬ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â±ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â*/
h3.title_bar{margin-left:40px;width:420px;float:left;}
.share{padding-left:5px;padding-bottom:8px;float:left;width:240px;height:26px;}
.info_title{border-bottom:1px solid #e1e4e6;}
.case_title{border-bottom:1px solid #e1e4e6;}

/*ÃƒÂ¤Ã‚ÂºÃ‚Â§ÃƒÂ¥Ã¢â‚¬Å“Ã‚ÂÃƒÂ¨Ã‚Â¯Ã‚Â¦ÃƒÂ§Ã‚Â»Ã¢â‚¬Â */
.product_detail{padding:5px;}
.product_detail h1.title{text-align:center;line-height:30px;font-size:14px;font-family:"Microsoft YaHei";border-bottom:1px solid #e0e1dc;margin-bottom:15px;padding-bottom:5px;}
.product_detail .img{width:400px;height:298px;float:left;padding:2px;border:1px solid #e0e1dc;}
.product_detail .img img{}
.product_detail .small{width:400px;height: 298px;}
.jqzoom{
	text-decoration:none;
	float:left;
}

.product_detail .list{float:left;margin-left:30px;display:inline;padding-top:8px;}
.list_p{}
.list_p li{height:26px;font-size:12px;border-bottom:1px dashed #e0e1dc;padding-bottom:5px;padding-top:5px;font-family:"Microsoft YaHei"}
.list_p li h2{font-size:12px;font-weight:normal;font-family:"Microsoft YaHei"}
.product_detail .inquiry{line-height:32px;border:none;margin-top:6px;}
.product_detail .inquiry a{background:url("../images/xunjia.gif") center center no-repeat;display:block;width:112px;height:32px;text-indent:-99999px;}
.product_detail .inquiry a:hover{background-image:url("../images/xunjia_hover.gif");}
.list_p li h2 a{font-size:12px;font-family:"Microsoft YaHei"}
.p_detail span.title{line-height:28px;height:28px;text-align:left;margin-top:10px;
	display:block;padding-left:10px;font-size:12px;border-bottom:1px solid #333;}
.p_detail p.dd{padding-top:5px;padding-bottom:5px;}
h3.tag{line-height:32px;border-top:1px dashed #e0e1dc;margin-top:10px;color:#999;font-weight:normal;}
h3.tag a{color:#005a98;}
h3.tag a:hover{color:#e87518;}
.page{line-height:26px;border-top:1px dashed #e0e1dc;margin-top:6px;padding-top:5px;font-size:12px;}
.page a{color:#005a98;}
.page a:hover{color:#e87518;}
.page span{color:#005a98;}

/*ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â°ÃƒÂ©Ã¢â‚¬â€Ã‚Â»ÃƒÂ¨Ã‚Â¯Ã‚Â¦ÃƒÂ§Ã‚Â»Ã¢â‚¬Â */
.news_detail{}
.news_detail h1.title{text-align:center;font-family:"Microsoft YaHei";font-size:18px;border-bottom:1px solid #e0e1dc;margin-bottom:5px;
padding-bottom:10px;}
.news_detail h3.title_bar{line-height:26px;text-align:center;font-weight:normal;color:#808080;float:left;height:26px;overflow:hidden;}
.news_detail h3.title_bar span{padding-right:10px;}

/*ÃƒÂ¦Ã¢â‚¬Â¹Ã¢â‚¬ÂºÃƒÂ¨Ã‚ÂÃ‹Å“ÃƒÂ¨Ã‚Â¯Ã‚Â¦ÃƒÂ§Ã‚Â»Ã¢â‚¬Â */
.job_detail{}
.job_detail h1.title{text-align:center;font-family:"Microsoft YaHei";font-size:18px;border-bottom:1px solid #e0e1dc;margin-bottom:5px;padding-bottom:10px;}
.job_detail h3.title_bar{line-height:26px;text-align:center;font-weight:normal;color:#808080;}
.job_detail h3.title_bar span{padding-right:10px;}
.job_detail .content h4{background-color:#f1f1f1;height:26px;line-height:26px;text-align:left;padding-left:15px;}
.job_detail .content div.text{padding-top:10px;padding-left:22px;padding-right:8px;}

/*ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¨Ã‚Â½Ã‚Â½ÃƒÂ¨Ã‚Â¯Ã‚Â¦ÃƒÂ§Ã‚Â»Ã¢â‚¬Â */
.down_info{padding:10px;margin-top:15px;}
.down_info table{width:100%;}
.down_info table thead{line-height:26px;background-color:#f2f2f2;}
.down_info table th{border:1px solid #b6d5f1;}
.down_info table td{padding:3px;padding-left:10px;padding-right:5px;border:1px solid #b6d5f1;text-align:center;line-height:28px;height:28px;}
#download{text-decoration:underline;}
#down_detail{}
#down_detail .title{line-height:26px;text-align:left;padding-left:15px;font-size:14px;height:26px;background-color:#ececec;}
#down_detail .text{padding:10px;}


/*ÃƒÂ¥Ã¢â‚¬Â Ã¢â‚¬Â¦ÃƒÂ©Ã‚Â¡Ã‚ÂµÃƒÂ¥Ã‚Â·Ã‚Â¦ÃƒÂ¤Ã‚Â¾Ã‚Â§ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ§Ã‚Â±Ã‚Â»ÃƒÂ©Ã¢â€šÂ¬Ã…Â¡ÃƒÂ§Ã¢â‚¬ÂÃ‚Â¨ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â*/
//.sort{border-bottom:#D9D9D9 1px solid;}
.sort li{position:relative;z-index: 9999;}
.sort li .about_b{position:absolute;left:210px;top:0px;width:210px;padding:10px 20px;background:#f5f6f6;
	border-bottom:2px solid #3a78c1;z-index:9999;}
.sort li .layer2{position:absolute;left:210px;top:0px;width:210px;padding:10px 20px;background:#f5f6f6;
	border-bottom:2px solid #3a78c1;z-index:9999;}
.sort li .layer2 li{overflow:hidden;}
.sort li .layer2 li a{font-weight:bold;background:url(../images/ico1.gif) no-repeat 0% 50%;}
.sort li .layer2 li a:hover{text-decoration:none;color:#3a78c1;}
.sort li .layer2 li .layer3 li{border-bottom:1px dashed #d5d5d5;margin:6px 0px;height:24px;
line-height: 24px;}
.sort li .layer2 li .layer3 li a{font:normal 12px/24px "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ";background:none;}

.sort li a{background:url(../images/dot4.png) no-repeat 5px -35px;color:#333;display:block;font-weight:600;
line-height:42px;font-family: "Microsoft YaHei";border-bottom:1px solid #dddddd;padding-left:25px;font-size:15px;}
.sort li a:hover{color:#3a78c1;text-decoration: none;background:url(../images/dot4.png) no-repeat 5px -35px #f5f6f6;}
.sort li.change a{background:url(../images/dot4.png) no-repeat 5px -35px #f5f6f6;}



//.sort .layer2 li{width:200px;height:35px;margin-bottom:0;background:none;}

/*ÃƒÂ¥Ã¢â‚¬Â Ã¢â‚¬Â¦ÃƒÂ©Ã‚Â¡Ã‚ÂµÃƒÂ§Ã¢â‚¬Â¢Ã¢â€žÂ¢ÃƒÂ¨Ã‚Â¨Ã¢â€šÂ¬*/
.message{padding-left:30px;padding-top:10px;z-index:100;position:relative;}
.message input{vertical-align:middle;}
.message #name{display:block;height:26px;line-height:26px;padding:0;padding-left:6px;border:1px solid #dedede;width:200px;}
.message #contact{display:block;height:26px;line-height:26px;padding:0;padding-left:6px;border:1px solid #dedede;width:200px;}
.message #email{display:block;height:26px;line-height:26px;padding:0;padding-left:6px;border:1px solid #dedede;width:200px;}
.message #address{display:block;height:26px;line-height:26px;padding:0;padding-left:6px;border:1px solid #dedede;width:200px;}
.message #content{display:block;width:460px;height:120px;padding:6px;font-size:12px;border:1px solid #dedede;margin-top:6px;}
.message .msgbtn{background:#333;cursor:pointer;width:90px;height:30px;line-height:30px;text-align:center;border:none;color:#fff;font-size:14px;
border-radius:3px;margin-top:15px;font-family:"Microsoft YaHei";-moz-border-radius:3px;-webkit-border-radius:3px;}
#code{padding-top:10px;line-height:26px;}
#checkcode{height:32px;line-height:32px;width:120px;border:1px solid #dedede;}
#message_main tr{position:relative;}
#message_main tr th{font-weight:normal;text-align:right;height:42px;line-height:42px;color:#666;}
.m_label{position:absolute;width:160px;text-align:left;line-height:26px;padding-left:8px;color:#ccc;z-index:1;cursor:text;}
.c_label{line-height:18px;padding-top:12px;}

/*ÃƒÂ©Ã‚Â¦Ã¢â‚¬â€œÃƒÂ©Ã‚Â¡Ã‚ÂµÃƒÂ§Ã¢â‚¬Â¢Ã¢â€žÂ¢ÃƒÂ¨Ã‚Â¨Ã¢â€šÂ¬ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ¥Ã‚ÂÃ¢â‚¬Â¢*/
.index_message{position: relative;}
.name_input{border:1px solid #cccccc; margin-top: 5px; background: #fff; height: 22px; width: 189px;}
.input_left{float: left; width: 40px; text-align: center; background:url(../images/newadd/title_left.jpg) left top repeat-x; height: 22px; line-height: 22px}
.input_right{position: relative; float: right;}
.input_right input{height: 22px; line-height: 22px;}
.input_right .m_label{position:absolute;width:100px;text-align:left;line-height:22px;padding-left:6px;color:#ccc;z-index:1;cursor:text;}


#m_div{width:222px;position:fixed;right:2px;bottom:0px;padding-bottom:1px;z-index:99999;background:none;}
.d_label{line-height:18px;padding-top:8px; width:160px;}
.w_message{border:1px solid #4a9cf9;padding:7px;padding-top:3px; height:238px; background:#fff;padding-bottom:27px;background:url(../images/newadd/message_bg.jpg) left top no-repeat;}
.w_message #name{width:142px;height:22px;line-height:22px; border: none !important;}
.w_message #contact{width:142px;height:20px;line-height:20px; border: none !important;}
.w_message #email{width:142px;height:20px;line-height:20px; border: none !important;}
.w_message #address{width:142px;height:20px;line-height:20px; border: none !important;}
.w_message #content{width:176px;height:65px;resize:none;overflow-y:auto;overflow-x:hidden;}
.w_message #checkcode{width:82px;height:22px;line-height:22px;border:1px solid #ccc;background-color:#fff;}


#message_main{display:table-cell;}
.w_message #message_main tr{display:block;width:100%;overflow:hidden;line-height:28px;}
.w_message #message_main tr th{height:28px;line-height:28px;width:37px;text-align:center;vertical-align:middle;overflow:hidden;}
.w_message #code{padding-top:0px; margin-top: 5px;}
.w_title{background:none;color:#fff;;position:relative;cursor:pointer;height:33px;width:222px;overflow:hidden;}
.w_message #message_main .m_input{border:1px solid #ccc;background-color:#fff;}
.w_message .msgbtn{width:93px;height:29px;line-height:20px; background:url(../images/newadd/submit.png) 50% 50% no-repeat;margin-top:3px;border:none;font-family:"ÃƒÂ¥Ã‚Â®Ã¢â‚¬Â¹ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“",arial;font-size:12px;margin-left:54px; font-family: "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ"; color: #fff;}
.w_message .msgbtn_hover{background:#3c96fc;color:#fff;border:1px solid #3c96fc;}



.m_close{background:url(../images/newadd/messbtn.png) left top no-repeat;position:absolute;right:0px;top:0px;cursor:pointer;overflow:hidden;
width:19px;height:20px;right:12px;top:8px;cursor:pointer;}
.m_open{background:url(../images/newadd/messbtn1.png) left top no-repeat;}
.w_message .m_under{position:absolute;width:227px;height:37px;line-height:41px;left:0;bottom:1px;}
.w_message .support{color:#000;width:100px;position:absolute;bottom:1px;right:8px;font-size:12px;}
#m_top{height: 1px;font-size: 0px;line-height: 1px;margin: 0 2px;background:#4a9cf9;}
#m_mid{height: 1px;font-size: 0px;line-height: 1px;margin: 0 1px;background:#4a9cf9;}
#m_bot{background:#4a9cf9;height:31px;line-height:31px;padding-left:9px; font-family: "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ"; font-size: 13px;}


/*ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â ÃƒÂ©Ã‚Â¡Ã‚ÂµÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â1*/
.pageController{padding-right:10px; padding-top:5px;padding-bottom:5px;color:#505050;margin:0 auto;border-top:1px solid #E2E3E4;margin-top:16px;line-height:24px;}
.pageController a{background-color:#FFF;vertical-align:middle; border:#efefef 1px solid; color:#505050;padding:5px 8px; margin-right:3px;margin-left:3px;}
.pageController a:hover{background-color:#efefef;color:#438ece; text-decoration:none;border:#efefef 1px solid;}
.pageController .currPage {background-color: #efefef;color:#ff0000;border:#efefef 1px solid;}
.pageController .t1{float:left;margin-right:5px;height:24px;line-height:22px;white-space:nowrap;}
.pageController .t2{float:right;vertical-align:middle;line-height:24px;}
.pageController .t2 #current{padding:0 5px;line-height:24px;}
.pageController .t1 span{padding-left:4px;padding-right:4px;}
.pageController select{height:24px;vertical-align:middle;text-align:center;line-height:24px;}
.pageController select option{vertical-align:middle;}

/*ÃƒÂ§Ã¢â‚¬ÂºÃ‚Â¸ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â³ÃƒÂ¤Ã‚ÂºÃ‚Â§ÃƒÂ¥Ã¢â‚¬Å“Ã‚ÂÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â°ÃƒÂ©Ã¢â‚¬â€Ã‚Â»*/
.relate_list{margin-top:10px;}
.relate h4{line-height:30px;border-bottom:1px solid #e87518;padding-left:5px;}
#relate_p .img img{width: 170px;height: 127px;}
#relate_p li{margin-left:10px;margin-right: 6px;_display:inline;}
#relate_n li{width:48%;float:left;}
.relate ul{float:none;}

/*ÃƒÂ¥Ã‚ÂÃ…Â¡ÃƒÂ¥Ã‚Â®Ã‚Â¢ÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨*/
.blog_list{}
.blog_list li{border-bottom:1px solid #ccc;padding-bottom:20px;}
.blog_list li h2{line-height:42px;height:42px;padding-left:10px;padding-left:20px;border-bottom:1px dashed #ccc;}
.blog_list li h2 a{font-size:14px;font-family:"Microsoft YaHei";font-weight:bold;color:#4C4C4C;line-height:42px;color:#204e7d;}
.blog_list li .summary{color:#878787;line-height:28px;height:28px;text-indent:20px;padding-top:5px;padding-bottom:5px;}
.blog_list li .under{padding-left:20px;padding-top:5px;height:24px;line-height:24px;padding-bottom:5px;color:#2970a6;}
.blog_list li .under a{color:#2970a6;}

/*ÃƒÂ§Ã‚Â½Ã¢â‚¬ËœÃƒÂ§Ã‚Â«Ã¢â€žÂ¢ÃƒÂ¥Ã…â€œÃ‚Â°ÃƒÂ¥Ã¢â‚¬ÂºÃ‚Â¾*/
h3.map_title{line-height:30px;line-height:30px;background-color:#333;border:1px solid #333;text-indent:20px;color:#fff;border-bottom:2px solid #333;}
.map_list{line-height:30px;padding-left:20px;margin-top:8px;margin-bottom:8px;}
.map_list a{padding:4px;white-space:nowrap;}
.map_list a:hover{text-decoration:none;background-color:#333;color:#fff;padding:4px;}

/*ÃƒÂ§Ã†â€™Ã‚Â­ÃƒÂ¦Ã…Â½Ã‚Â¨ÃƒÂ¤Ã‚ÂºÃ‚Â§ÃƒÂ¥Ã¢â‚¬Å“Ã‚Â*/
.content-getkey{padding:15px 10px;}
.getkey_list{}
.getkey_list li{float:left;margin-left:20px;margin-right:20px;padding-bottom:15px;_display:inline;}
.getkey_list li a.img{padding:1px;border:1px solid #e0e1dc;}
.getkey_list li a.img img{width:150px;height:150px;}
.getkey_list li h3{text-align:center;padding-top:5px;}
.getkey_list li h3 a{font-weight:normal;}
.getkey_list li a.img{display:block;}
.getkey_list li a.img:hover{border-color:#e87518;}

.content-getkey .content{line-height: 24px;overflow: hidden;padding: 15px 10px 10px;}
.getkey_detail .content{line-height: 24px;overflow: hidden;padding: 15px 10px 10px;}